---
---
body {
	box-sizing: border-box;
	padding: 0px 1ex;
	margin: 0px auto;
	font-size: 16px;
	max-width: 40em;
	width: 100%;
	min-height: 100vh;
	font-family: sans-serif;
}

p,ol {
	line-height: 1.3em;
}

img {
	box-sizing: border-box;
	display: block;
	padding: 0px 1ex;
	margin: 0 auto;
	max-width: 100%;
}

h1 {
	font-weight: normal;
}

.dim {
	opacity: 0.6;
}