body {
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

main {
	width: 100%;
}

.depth1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.depth2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.header {
	background-color: #3F51B5;
	color: white;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: -10;
	height: 300px;
}

div.header a {
	color: white;
	text-decoration: none;
}

div.header > div.content {
	margin: 0 auto;
}

div.header > div.content > div.title {
	font-size: 1.4em;
	margin: 20px;
	float: left;
	white-space: nowrap;
}

nav {
	float: right;
	margin: 26px;
	white-space: nowrap;
}

nav > ul {
	padding: 0px;
	margin: 0px;
}

nav > ul > li {
	display: inline;
	padding: 13px 10px;
	cursor: pointer;
	color: lightgray;
}

nav > ul > li:hover {
}

nav > ul > li.active {
	color: white;
	border-bottom: 4px solid #EEFF41;
}

div.card {
	background-color: white;
	margin: 0px auto;
	margin-top: 20px;
	overflow: hidden;
	border-radius: 2px;
	max-width: 400px;
	width: 90%;
	padding: 10px;
}

div.card a {
	color: black;
	text-decoration: none;
}

div.card > img {
	border-radius: 2px;
	margin: 10px auto;
	padding: 5px;
	border: 1px solid #cdcdcd;
	display: block;
}

div.card > ul {
	padding: 10px;
}

div.card > ul > li {
	list-style-type: none;
}

div.list {
	background-color: white;
	margin: 0px auto;
	margin-top: 80px;
	overflow: hidden;
	border-radius: 2px;
}

div.list > ul {
	margin: 10px 0px;
	padding: 0px;
}

div.list > ul > li {
	display: block;
	list-style-type: none;
	padding: 10px 20px;
	cursor: pointer;
}

div.list > ul > li:hover {
}

div.list > ul > li > a {
	color: black;
	text-decoration: none;
}

.dim {
	opacity: 0.6;
}
.smaller {
	font-size: 0.666em;
}

div.document {
	background-color: white;
	margin: 0px auto;
	margin-top: 80px;
	overflow: hidden;
	border-radius: 2px;
}

div.document > div.content {
	margin: 2em;
}

.fullwidth {
}

@media (max-width: 900px) {
.fullwidth {
	width: 95%;
}
}

@media (min-width: 900px) {
.fullwidth {
	width: 900px;
}
}

@media (min-width: 1400px) {
.fullwidth {
	width: 70%;
}
}

div.document > div.content > h1 {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
