.thumb-header {
    margin-top: 162px;
}
.subcontent {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 10px;
    padding-top: 79px;
    border-radius: 10px;
    margin: 0px auto 64px auto;
    position:relative;
}
.gravatar {
    position: relative;
    left: -50%;
    top: -69px;
    z-index:100;
}

.myname {
    font-size: 16px;
}

.mylinks,.mylinks:visited,.mylinks:active,.mylinks:focus{
    color: #555;
    font-size: 32px;
    text-decoration:none;
}

.mylinks:hover {
    text-decoration:none;
    color: #4183c4;
}

@media (min-width:768px) {
div.container {
	width: 620px;
}
}
