.thumb-header {
    margin-top: 162px;
}
.subcontent {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 10px;
    padding-top: 79px;
    border-radius: 10px;
    margin: 0px auto 64px auto;
    position:relative;
}
.gravatar {
    position: relative;
    left: -50%;
    top: -69px;
    z-index:100;
}

.myname {
    font-size: 16px;
}

.mylinks,.mylinks:visited,.mylinks:active,.mylinks:focus{
    color: #555;
    font-size: 32px;
    text-decoration:none;
}

.mylinks:hover {
    text-decoration:none;
}

.mylinks.fa-github-square:hover { color: #4183c4; }
.mylinks.fa-bitbucket-square:hover { color: #205081; }
.mylinks.fa-facebook-square:hover { color: #45619d; }
.mylinks.fa-google-plus-square:hover { color: #dd4b39; }
.mylinks.fa-envelope-square:hover { color: #7444BB;}

.github_links {
    position:absolute;
    right: 15px;
    display:none;
    top: 10px;
    padding: 0px 4px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color:#fff;
}

.social-links {
    display: inline-flex;
}

.social-links>div {
    margin: 0px 5px;
}

@media (min-width:768px) {
div.container {
	width: 620px;
}
}
