body {
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
}
div {
    margin: auto; width: 512px;
}
canvas {
    width: 512px;
    image-rendering:pixelated;
}
img {
    width: 512px;
}
#mobile_controls {
    position: relative;
}
#mobile_controls img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}
#mobile_controls button {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
    background-color:white;
    border-radius: 20px;
    opacity: 0;
}
