---
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{site.name}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/document.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400" rel="stylesheet">

<script>
window.addEventListener('load', function(ev) {
	var list = document.getElementById('navigationList');
	var url = '/' + window.location.pathname.split('/')[1] + '/';

	if (url === '//')
		url = '/';

	var query = 'li>a[href="' + url + '"]'

	var item = list.querySelector(query).parentElement;

	item.className += 'active';
	item.scrollIntoView()
});
</script>

</head>
<body>

<header>
	<div id="navigation">
		<ul id="navigationList">
			<li><a href="/">Home</a></li>
			<li><a href="/docs/">Documents</a></li>
			<li><a href="/tools/">Tools</a></li>
		</ul>
	</div>
</header>

<main>
{{content}}
</main>

</body>
</html>
