---
layout: top
---
<script type="text/html" id="template-github">
<ul class="github_repolist list-group" style="overflow-y:scroll;height:360px;">
	[[#repos]]
	<li class="github_repo list-group-item">
		<a class="github_link" href="[[html_url]]">[[name]]</a> <br />
		<div class="github_description">[[description]] [[#language]](in [[language]])[[/language]]</div>
		<div class="github_links" style="float:right;display:none;">
			<a href="https://[[clone_url]]">https</a> / <a href="[[git_url]]">ssh</a>
		</div>
	</li>
	[[/repos]]
</ul>
</script>

{{ content }}
