---
layout: top
---
<script type="text/html" id="template-github">
<ul class="list-group">
	[[#repos]]
	<li class="list-group-item">
		<h4 class="list-group-item-heading"><a href="[[html_url]]">[[name]]</a> <small>[[updated_time]]</small></h4>
		<p class="list-group-item-text">[[description]] [[#language]](in [[language]])[[/language]]</p>
		<div class="github_links">
			<a href="[[url]]/zipball">zip</a> / <a href="[[clone_url]]">https</a> / <a href="[[git_url]]">ssh</a>
		</div>
	</li>
	[[/repos]]
</ul>
</script>

{{ content }}
