---
layout: top
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1434406580131235&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="post">
    <div class="page-header">
        <h2>{{ page.title }}
            <small>{{ page.date | date: "%b %-d, %Y" }}</small>
        </h2>
    </div>

    {{ content }}

    <hr />
    <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button"> </div>
    <hr />
    {% include disqus.html %}
</div>
