---
layout: top
---
<div id="fb-root"></div>

<div class="post">
    <div class="page-header">
        <h2>{{ page.title }}
            <small>{{ page.date | date: "%b %-d, %Y" }}</small>
        </h2>
    </div>

    {{ content }}

    <hr />
    <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button"> </div>
    <div class="g-plus" data-href="{{site.url}}{{page.url}}" data-action="share" data-annotation="none"></div>

    <hr />
    {% include disqus.html %}
</div>
