---
layout: internal
---

<!--
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="/blog/">Blog</a></li>
	<li class="active">{{page.date | date: "%Y-%m-%d"}}</li>
</ol>
-->

<nav>
	<ul class="pager">
		{% if page.previous %} <li class="previous"> {% else %} <li class="previous disabled"> {% endif %}
		<a href="{{page.previous.url}}"><span aria-hidden="true">&larr;</span>
			{{page.previous.title}}</a></li>
		{% if page.next %} <li class="next"> {% else %} <li class="next disabled"> {% endif %}
		<a href="{{page.next.url}}">{{page.next.title}} <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>

<div class="post" style="font-size:larger;">
	<div class="page-header">
		<h2><a href="{{page.url}}">{{page.title}}</a></h2>
		{{ page.date | date: "%b %-d, %Y" }}
	</div>
	<div class="page-content" style="border-bottom:1px solid #eee;margin-bottom:20px;">
		{{ content }}
	</div>
</div>

<div class="social-links">
	<div>
		<div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button"> </div>
	</div>
	<div>
		<div class="fb-like" data-href="{{site.url}}{{page.url}}" data-layout="button" data-action="like" data-show-faces="false"></div>
	</div>
	<div>
		<a class="twitter-share-button" data-count="none" href="https://twitter.com/share?url={{site.url|cgi_escape}}{{page.url|cgi_escape}}"></a>
	</div>
	<div>
		<div class="g-plus" data-href="{{site.url}}{{page.url}}" data-action="share" data-annotation="none"></div>
	</div>
	<div>
		<div class="g-plusone" data-href="{{site.url}}{{page.url}}" data-size="tall" data-annotation="none"></div>
	</div>
</div>

{% include disqus.html %}
