---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include favicon.html %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/resources/base.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/resources/script.js"> </script>

{% include opengraph.html %}

<title>{{site.name}}</title>
</head>
<body>
<div class="container">
	<div class="hidden-xs">
		<div class="thumb-header">
			<div class="text-center" style="position:relative;width:100%;">
				<div style="position:absolute;left:50%;height:0px;">
					<a href="/"><img src="http://www.gravatar.com/avatar/{{site.author.gravatar}}.png?s=128&d=mm" title="That's me!" class="img-circle img-thumbnail gravatar"  style="margin-bottom: 5%;" /></a>
				</div>
			</div>
			<div class="subcontent">
				<div style="position:absolute;top:10px;right:10px;">
					<a class="mylinks fa fa-github-square" href="https://github.com/{{site.author.github}}/"></a>
					<a class="mylinks fa fa-bitbucket-square" href="https://bitbucket.org/{{site.author.bitbucket}}/"></a>
					<a class="mylinks fa fa-envelope-square" href="mailto:{{site.author.email}}"></a>
					<a class="mylinks fa fa-facebook-square" href="http://www.facebook.com/{{site.author.facebook}}"></a>
					<a class="mylinks fa fa-google-plus-square" href="http://plus.google.com/+{{site.author.googleplus}}"></a>
				</div>
				<div style="position:absolute;top:10px;left:10px;">
					<span class="myname">{{site.author.name}}</span> <br />
					{{site.author.occupation}}<br />
					{{site.author.location}}<br />
				</div>
			</div>
		</div>
	</div>
	<div class="visible-xs">
		<div class="subcontent" style="padding-top: 5%;text-align:center;margin-top: 5%;">
			<div>
				<a href="/"><img src="http://www.gravatar.com/avatar/{{site.author.gravatar}}.png?s=128&d=mm" title="That's me!" class="img-circle img-thumbnail" style="margin-bottom: 5%;" /></a>
			</div>
			<div>
				<a class="mylinks fa fa-github-square" href="https://github.com/{{site.author.github}}/"></a>
				<a class="mylinks fa fa-bitbucket-square" href="https://bitbucket.org/{{site.author.bitbucket}}/"></a>
				<a class="mylinks fa fa-envelope-square" href="mailto:{{site.author.email}}"></a>
				<a class="mylinks fa fa-facebook-square" href="http://www.facebook.com/{{site.author.facebook}}"></a>
				<a class="mylinks fa fa-google-plus-square" href="http://plus.google.com/+{{site.author.googleplus}}"></a>
			</div>
			<div style="margin-top: 5%;">
				<span class="myname">{{site.author.name}}</span> <br />
				{{site.author.occupation}}<br />
				{{site.author.location}}<br />
			</div>
		</div>
	</div>
	{{ content }}
	<footer>
		<hr />
		 <p class="text-center text-muted small">
			Unless otherwise noted, all contents are reserved copyright of Guillermo Indalecio Fernández.<br />
			Contents provided by github, jekyll, bootstrap, fontawesome, moment.js, mustache.js, and jQuery. <br />
		</p>
	</footer>
</div>
</body>
</html>
